<!DOCTYPE html>
<html>
  <head>
    <title>Translator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width">
  <meta content="telephone=no" name="format-detection">
  <meta name="description" content="複数の翻訳エンジン（Google, microsoft, IBM, Yandex）を使って結果を比較。良いと思ったものをさらにツイッターに投稿して、フォロワーに添削してもらうWebアプリです。">
  <meta property="og:title" content="Translator">
  <meta property="og:description" content="複数の翻訳エンジン（Google, microsoft, IBM, Yandex）を使って結果を比較。良いと思ったものをさらにツイッターに投稿して、フォロワーに添削してもらうWebアプリです。">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:image" content="●●●">
  <meta property="og:url" content="http://153.120.128.21/translator/index">
  <meta property="og:site_name" content="Translator">
  <meta name="twitter:card" content="summary_large_image">



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
