<!DOCTYPE html>
<html>
  <head>
    <title>Translator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width">
  <meta content="telephone=no" name="format-detection">
  <meta name="description" content="<%= @originalText %>の訳をシェアして添削してもらおう">
  <meta property="og:title" content="「<%= @originalText %>」の訳はこれで合ってる？">
  <meta property="og:description" content="合っている場合は「いいね」を、間違っている場合は添削コメントを下さい！">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="ja_JP">
  <meta property="og:image" content="http://153.120.128.21:3000/assets/ogp/<%= @imageName %>.png">
  <meta property="og:url" content="http://153.120.128.21:3000/translator/result.html?originalText=<%= @originalText %>&translated=<%= @translatedText %>&situation=<%= @situation %>">
  <meta property="og:site_name" content="translator">
  <meta name="twitter:card" content="summary_large_image">



    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
